<a href="https://colab.research.google.com/github/aldinoganteng16/PEMROGRAMAN-DASAR/blob/main/pertemuan%202%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = True
print(type(x))


x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'polibatam'
print(x[0])

p

In [ ]:
x = 'Warnok_ganteng'


print(x[2:])

rnok_ganteng

In [ ]:
name = "aldino eka putra"

print(f"Hello,nama saya {name}")

Hello,nama saya aldino eka putra

In [ ]:
name = "aldino eka putra"

print("Nama saya %s" % (name))

Nama saya aldino eka putra

In [ ]:
name = "ahmad syahroni"
print("Nama saya {}".format(name))

Nama saya ahmad syahroni

In [ ]:
nama = "andi"



print("nama saya :", nama)

nama saya : andi

In [ ]:
x = [1, 2.2,'Polibatam']



print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']



print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'aldino ganteng', True, 1.0]



print(x[2])

True

In [ ]:
x = [1, 2.2, 'dedek cantik']
x[0] = 'hallo'



print(x)

['hallo', 2.2, 'dedek cantik']

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "micro USB"]




print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'micro USB']
['laptop', 'monitor', 'mouse']

In [ ]:
x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program', 1+3j)



print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
x = (5, 'program', 1+3j)
x[2] = 'polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = {1, 2, 7, 2, 3, 13, 3}



print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}




union = set1.union(set2)
print("union:", union)



intersection = set1.intersection(set2)
print("intersection:", intersection)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}

In [ ]:
x = {'name': 'aldino eka putra', 'age': 20, 'isMarried': False }






print(type(x))

<class 'dict'>

In [ ]:
x = { 'name': 'Aldino eka putra', 'age': 20,'isMarried': False }






print(x[0])

KeyError: 0

In [ ]:
x = { 'name': 'Aldino eka putra', 'age': 20, 'isMarried': False }
del x['isMarried']






print(x)

{'name': 'Aldino eka putra', 'age': 20}

In [ ]:
name = "Aldino eka putra"
print("Nama saya {}".format (name))

Nama saya Aldino eka putra

In [ ]:
multi_line = """halo gais apa kabar?, sehat!."""
print(multi_line)

halo gais apa kabar?, sehat!.

In [ ]:
x = 'polibatam'
print(type(x))

<class 'str'>

In [ ]:
#1TODO
firsName = "ALDINO"
lastName = "PUTRA"
age = 21
isMarried = False


print("nama depan :",firsName)
print("nama belakang :", lastName)
print("umur :", age)
print("status menikah :", isMarried)

nama depan : ALDINO
nama belakang : PUTRA
umur : 21
status menikah : False

In [ ]:
#2TODO
data_diri ={
    "firsName": "ALDINO",
    "lastName": "PUTRA",
    "age": 21,
    "isMarried": False
}

print("Data Diri", data_diri)
print("\n=== BIODATA ===")
print(f"Nama Depan        : {data_diri['firsName']}")
print(f"Nama Belakang     : {data_diri['lastName']}")
print(f"Umur              : {data_diri['age']} tahun")
print(f"Status Pernikahan : {'Sudah Menikah' if data_diri['isMarried'] else 'Belum Menikah'}")

Data Diri {'firsName': 'ALDINO', 'lastName': 'PUTRA', 'age': 21, 'isMarried': False}

=== BIODATA ===
Nama Depan        : ALDINO
Nama Belakang     : PUTRA
Umur              : 21 tahun
Status Pernikahan : Belum Menikah

In [ ]:
inspeksi = [
    "Pemahaman terhadap rencana dan desain",
    "Ketersediaan bahan dan peralatan",
    "Pengawasan pekerjaan",
    "Kualitas konstruksi",
    "Keselamatan kerja",
    "Koordinasi dengan pemilik proyek",

]
print("daftar inspeksi")
for item in inspeksi:
  print("_", item)

daftar inspeksi
_ Pemahaman terhadap rencana dan desain
_ Ketersediaan bahan dan peralatan
_ Pengawasan pekerjaan
_ Kualitas konstruksi
_ Keselamatan kerja
_ Koordinasi dengan pemilik proyek

In [ ]:
#4TODO
StartTime = {
    "HH": 9,
    "mm": 23,
    "ss": 57
}
EndTime = {
    "HH": 15,
    "mm": 25,
    "ss": 43
}
print("Waktu Datang:", StartTime)
print("Waktu Pulang:", EndTime)

Waktu Datang: {'HH': 9, 'mm': 23, 'ss': 57}
Waktu Pulang: {'HH': 15, 'mm': 25, 'ss': 43}

In [ ]:
#5TODO

katalog_A = {"Laptop", "Smartphone", "Tablet", "Earphone"}
katalog_B = {"Smartwatch", "Smartphone", "Laptop", "Kamera"}
produk_diskon ={"Laptop", "Smartwatch", "Kamera", "charger"}

katalog_lengkap = katalog_A.union(katalog_B)
print("katalog Lengkap:", katalog_lengkap)

produk_promo_aktif = katalog_lengkap.intersection(produk_diskon)
print("Produk Promo Aktif:", produk_promo_aktif)

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-2363687077.py, line 5)